[flake8]
max-line-length=100
extend-ignore=
    # whitespace before :
    E203
    # type self and cls
    ANN101, ANN102
per-file-ignores=
    src/tests/*:ANN201
exclude=
    __init__.py
    src/tests/samples
